* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(rgb(36, 170, 235), rgb(21, 91, 212));
    font-family: "Poppins", sans-serif;
}

li,
a {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    color: whitesmoke;
    text-align: center;
    /*background: red;*/
}

h1 {
    color: whitesmoke;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

h2 {
    color: whitesmoke;
    font-size: 1.5rem;
}

hr {
    width: 80%;
    margin: auto;
}

/* HEADER */

header {
    top: 0rem;
    height: 12rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(30, 30, 30));
    position: fixed;
    z-index: 98;
}

.nav-links {
    width: 60rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 3rem;
}

nav a:hover {
    color: rgb(28, 163, 247);
}

.nav_logo {
    text-align: center;
    margin-top: auto;
}

#header_logo {
    width: 15rem;
}

.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-icon,
#games-icon,
#about-icon,
#search-icon,
#cart-icon,
#profile-icon {
    margin: 2rem;
    width: 2rem;
}

/* SUCCESS PAGE SECTION */

.success-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-text {
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 4rem;
    color: rgb(219, 211, 211);
}

.success-text p {
    min-width: 30rem;
    font-size: 3rem;
    color: whitesmoke;
    margin-right: 5%;
}

.far {
    margin: 0;
    font-size: 7.5rem;
    color: rgb(14, 236, 14);
}

.success-container {
    margin-top: 5%;
    height: 60rem;
    min-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: red;
}

.success {
    min-height: 30rem;
    min-width: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    background: #1a2745;
}

.order-info {
    min-width: 100%;
    min-height: 5rem;
    display: flex;
    align-items: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-image: linear-gradient(rgb(22, 97, 214), rgb(11, 39, 107));
}

.order-info h1 {
    margin: auto;
}
.order-box1,
.order-box2 {
    margin-top: 1%;
    min-height: 10rem;
    min-width: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    background: #1a2745;
}

.order-box1 {
    margin-top: 5%;
}

.order-box2 {
    margin-bottom: 5%;
}

.order-row {
    width: 90%;
    margin: auto;
    border-radius: 2rem;
    height: 15rem;
    display: flex;
    flex-direction: row;
    background: #1a3983;
}

.order-game {
    max-width: 20rem;
    height: 100%;
}

.order-game img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.order-title {
    min-height: 100%;
    min-width: 30rem;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-title p {
    margin-top: 5%;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 500;
}

.download-btn {
    margin-top: 5%;
    background-image: linear-gradient(rgb(21, 212, 46), rgb(41, 194, 110));
    width: 30rem;
    min-height: 5rem;
    border-radius: 5rem;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: whitesmoke;
    cursor: pointer;
}
