* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(rgb(36, 170, 235), rgb(21, 91, 212));
    font-family: "Poppins", sans-serif;
}

li,
a {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    color: whitesmoke;
    text-align: center;
    /*background: red;*/
}

h2 {
    color: whitesmoke;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

h3 {
    color: whitesmoke;
    font-size: 1.5rem;
}

hr {
    width: 80%;
    margin: auto;
    color: whitesmoke;
}

/* HEADER */

header {
    top: 0px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(30, 30, 30));
    position: fixed;
    z-index: 98;
}

.nav-links1,
.nav-links2 {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-links1 {
    width: 50rem;
}

.nav-links2 {
    width: 35rem;
}

nav a:hover {
    color: rgb(28, 163, 247);
}

.nav_logo-desktop {
    margin: 1% 8% 1% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_logo-mobile {
    text-align: center;
    display: none;
}

#header_logo {
    width: 12rem;
}

.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-icon,
#games-icon,
#contact-icon,
#search-icon,
#cart-icon,
#profile-icon {
    margin: 2rem;
    width: 2rem;
}

/* SEARCH BAR */

.search form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search input[type="text"] {
    padding: 0.4rem 0.4rem;
}

#search {
    width: 20rem;
    height: 2.4rem;
}

.fa-search {
    color: #1b203d;
    background: whitesmoke;
    border: 1px solid whitesmoke;
}

.search-icon {
    font-size: 2rem;
}

/* CHECKOUT PAGE SECTION */

.checkout-section {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.checkout-container {
    margin-top: 10%;
    height: 100%;
    width: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-details,
.summary-details {
    min-width: 100%;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-image: linear-gradient(rgb(22, 97, 214), rgb(11, 39, 107));
}

.summary-details h1,
.order-details h1 {
    margin: auto;
}

/* ORDER DETAILS BOX */

.details-container {
    background: #1a2745;
    width: 80rem;
    height: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-radius: 2rem;
}

.order-row {
    width: 90%;
    margin: auto;
    border-radius: 2rem;
    height: 20rem;
    display: flex;
    flex-direction: row;
    background: #1a3983;
}

.order-box1,
.order-box2 {
    margin: 5% 0;
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.order-game {
    width: 100%;
    height: 100%;
}

.order-game img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.order-title {
    min-height: 100%;
    width: 100%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-title p {
    margin-top: 15%;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 500;
}

.order-price {
    margin-right: 5%;
    min-height: 100%;
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: whitesmoke;
}

.trash-icon {
    margin-top: 35%;
    font-size: 2rem;
    cursor: pointer;
}

.trash-icon:hover {
    color: red;
}

/* ORDER SUMMARY BOX */

.summary-container {
    margin: 7.5% 0;
    width: 80rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary {
    width: 100%;
    height: 100%;
    background: #1a2745;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-box1,
.summary-box2 {
    margin-top: 5%;
    width: 90%;
    height: 30%;
    border-radius: 2rem;
    background: #1a3983;
    display: flex;
    flex-direction: column;
}

.summary-box1 h2 {
    margin: 7% 0 0 10%;
}

.summary-box1 p {
    color: whitesmoke;
    font-size: 1.4rem;
    margin: 1% 10% 5% 10%;
}

.items-info,
.shipping-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.items-info p {
    margin-top: 7.5%;
    font-weight: 600;
    font-size: 1.5rem;
}

span {
    font-weight: bold;
}

.summary-box2 {
    text-align: center;
}

.summary-box2 h2 {
    margin: 4% auto 4% auto;
    color: white;
    font-size: 1.5rem;
}

/* 'PROCEED TO CHECKOUT' BUTTON */

.proceed-btn {
    margin: 5% 0;
    background: rgb(8, 168, 80);
    width: 70rem;
    height: 5rem;
    border-radius: 5rem;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: whitesmoke;
    cursor: pointer;
}

.proceed-btn:hover {
    background-image: linear-gradient(rgb(21, 212, 46), rgb(41, 194, 110));
}

/* FOOTER */

footer {
    height: auto;
    background-image: linear-gradient(rgb(30, 30, 30), rgb(0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container {
    width: 100%;
    height: 100%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-info {
    text-align: center;
    margin: 5%;
    font-size: 1.3rem;
}

.footer-info h4 {
    margin-bottom: 20%;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.email,
.telephone {
    margin-left: 1rem;
}

.envelope-icon,
.phone-icon {
    font-size: 2rem;
}

.fab {
    font-size: 3rem;
    margin-right: 1rem;
    cursor: pointer;
}

.fab:hover {
    color: lightskyblue;
}

.copyright {
    color: whitesmoke;
    font-size: 1rem;
    text-align: center;
}

/* MEDIA QUERY */

@media screen and (max-width: 1300px) {
    .nav_logo-desktop {
        display: none;
    }

    .nav_logo-mobile {
        margin-top: 1%;
        display: block;
    }

    #header_logo {
        width: 7rem;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .icon-box li {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }

    .search form {
        display: none;
    }

    #home-icon,
    #games-icon,
    #about-icon,
    #search-icon,
    #cart-icon,
    #profile-icon {
        margin: 0.5rem;
        width: 1.5rem;
    }

    .checkout-container {
        margin-top: 20rem;
        width: 50rem;
    }

    .details-container {
        width: 25rem;
    }

    .order-row {
        height: 10rem;
    }

    .summary-container {
        width: 15rem;
    }

    .proceed-btn {
        min-width: 10rem;
        min-height: 6rem;
        font-size: 1rem;
    }

    .order-title p {
        font-size: 0.75rem;
    }
}
