/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* font-size: 50%; */
}

body {
    background-image: linear-gradient(rgb(36, 170, 235), rgb(21, 91, 212));
    font-family: "Poppins", sans-serif;
}

li,
a {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    color: whitesmoke;
}

h1 {
    color: whitesmoke;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: #000;
}

h3 {
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    color: whitesmoke;
}

h4 {
    font-size: 2rem;
}

span {
    color: rgb(90, 90, 90);
}

hr {
    color: whitesmoke;
    border: 2px solid white;
    border-radius: 1rem;
}

/* HEADER */

header {
    top: 0px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(30, 30, 30));
    position: fixed;
    z-index: 98;
}

.nav-links1,
.nav-links2 {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-links1 {
    width: 50rem;
}

.nav-links2 {
    width: 35rem;
}

nav a:hover {
    color: rgb(28, 163, 247);
}

.nav_logo-desktop {
    margin: 1% 8% 1% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_logo-mobile {
    text-align: center;
    display: none;
}

#header_logo {
    width: 12rem;
}

.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-icon,
#games-icon,
#contact-icon,
#search-icon,
#cart-icon,
#profile-icon {
    margin: 2rem;
    width: 2rem;
}

/* SEARCH BAR */

.search form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search input[type="text"] {
    padding: 0.4rem 0.4rem;
}

#search {
    width: 20rem;
    height: 2.4rem;
}

.fa-search {
    color: #1b203d;
    background: whitesmoke;
    border: 1px solid whitesmoke;
}

.search-icon {
    font-size: 2rem;
}

/* CONTACT PAGE SECTION */

.contact-section {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 70vh;
    border-radius: 2rem;
}

.contact-container,
.newsletter-container {
    margin-top: 5%;
    height: 55rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content,
.newsletter-content {
    margin: 20%;
    padding: 2%;
    height: 100%;
    width: 100%;
    background: #1a3983;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    justify-content: space-between;
}

.contact-content h2,
.newsletter-content h2 {
    margin-top: 5%;
    font-size: 2.5rem;
    font-weight: 600;
    color: whitesmoke;
}

.newsletter-content p {
    padding: 1%;
    margin-top: 0%;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: whitesmoke;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1a2745;
    border-radius: 2rem;
    height: 8rem;
    width: 40rem;
}

.input-box {
    margin: 5% 0;
    width: 40rem;
    height: 10rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    margin-bottom: 2%;
    font-size: 1.6rem;
    color: rgb(211, 211, 211);
}

.input-form {
    padding: 0.5rem;
    font-size: 1.4rem;
    height: 4rem;
    width: 100%;
    border-radius: 2.5rem;
    border: none;
}

.btn {
    margin-bottom: 5%;
    width: 100%;

    height: 5rem;
    border-radius: 5rem;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: ease-in-out 1s;
}

.contact-btn {
    background: rgb(11, 120, 128);
}

.newsletter-btn {
    background: rgb(155, 14, 148);
}

.contact-btn:hover {
    background-image: linear-gradient(rgb(41, 207, 219), rgb(9, 153, 163));
}

.newsletter-btn:hover {
    background-image: linear-gradient(rgb(233, 77, 225), rgb(194, 42, 186));
}

.form-error {
    margin-top: 1%;
    color: red;
    font-size: 1.2rem;
    display: none;
}

.or-box {
    display: flex;
    flex-direction: column;
}

/* FOOTER */

footer {
    height: auto;
    background-image: linear-gradient(rgb(30, 30, 30), rgb(0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container {
    width: 100%;
    height: 100%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-info {
    text-align: center;
    margin: 5%;
    font-size: 1.3rem;
}

.footer-info h4 {
    margin-bottom: 20%;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.email,
.telephone {
    margin-left: 1rem;
}

.envelope-icon,
.phone-icon {
    font-size: 2rem;
}

.fab {
    font-size: 3rem;
    margin-right: 1rem;
    cursor: pointer;
}

.fab:hover {
    color: lightskyblue;
}

.copyright {
    color: whitesmoke;
    font-size: 1rem;
    text-align: center;
}

/* MEDIA QUERIES */

/* HEADER RESPONSIVE MODE */

@media screen and (max-width: 1300px) {
    .nav_logo-desktop {
        display: none;
    }

    .nav_logo-mobile {
        margin-top: 1%;
        display: block;
    }

    #header_logo {
        width: 7rem;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .icon-box li {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }

    .search form {
        display: none;
    }

    #home-icon,
    #games-icon,
    #contact-icon,
    #search-icon,
    #cart-icon,
    #profile-icon {
        margin: 0.5rem;
        width: 1.5rem;
    }
}

/* FOOTER RESPONSIVE MODE */

@media screen and (max-width: 1400px) {
    .footer-container {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .footer-container {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .footer-info {
        width: 100%;
        padding: 1rem;
        margin: 3.5rem;
    }
    .footer-info h4 {
        margin-bottom: 10%;
    }

    .contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
