* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(rgb(36, 170, 235), rgb(21, 91, 212));
    font-family: "Poppins", sans-serif;
}

li,
a {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    color: whitesmoke;
    text-align: center;
}

h1 {
    color: whitesmoke;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

h2 {
    color: whitesmoke;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    font-weight: 400;
}

hr {
    width: 50rem;
    margin: auto;
    color: whitesmoke;
}

/* HEADER */

header {
    top: 0px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(30, 30, 30));
    position: fixed;
    z-index: 98;
}

.nav-links1,
.nav-links2 {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-links1 {
    width: 50rem;
}

.nav-links2 {
    width: 35rem;
}

nav a:hover {
    color: rgb(28, 163, 247);
}

.nav_logo-desktop {
    margin: 1% 8% 1% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_logo-mobile {
    text-align: center;
    display: none;
}

#header_logo {
    width: 12rem;
}

.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-icon,
#games-icon,
#contact-icon,
#search-icon,
#cart-icon,
#profile-icon {
    margin: 2rem;
    width: 2rem;
}

/* SEARCH BAR */

.search form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search input[type="text"] {
    padding: 0.4rem 0.4rem;
}

#search {
    width: 20rem;
    height: 2.4rem;
}

.fa-search {
    color: #1b203d;
    background: whitesmoke;
    border: 1px solid whitesmoke;
}

.search-icon {
    font-size: 2rem;
}

/* PAYMENT SECTION */

.payment-section {
    min-height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-container {
    margin: 20rem 0 5rem 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.payment-header {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-image: linear-gradient(rgb(22, 97, 214), rgb(11, 39, 107));
}

.payment-box {
    background: #1a2745;
    width: 40%;
    /* width: 70rem; */
    height: auto;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.billing-form-box {
    margin: 10% 0;
    width: 60rem;
    height: 100%;
    background: #1a3983;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
}

.input-box {
    margin: 5% 0;
    width: 50rem;
    height: 10rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    margin-bottom: 2%;
    font-size: 1.4rem;
    color: rgb(211, 211, 211);
}

.input-form {
    padding: 0.5rem;
    font-size: 1.2rem;
    height: 3rem;
    width: 100%;
    border-radius: 2.5rem;
    border: none;
}

.form-header {
    margin: 7% 0;
    text-align: center;
}

.form-error {
    margin-top: 1%;
    color: red;
    font-size: 1.2rem;
    display: none;
}

.btn {
    margin: 5% 0;
    width: 90%;
    background: rgb(8, 168, 80);
    height: 5rem;
    border-radius: 5rem;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: ease-in-out 1s;
}

.btn:hover {
    background-image: linear-gradient(rgb(21, 212, 46), rgb(41, 194, 110));
}

.return-to-cart {
    margin-bottom: 2%;
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 1.2rem;
}

/* FOOTER */

footer {
    height: auto;
    background-image: linear-gradient(rgb(30, 30, 30), rgb(0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container {
    width: 100%;
    height: 100%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-info {
    text-align: center;
    margin: 5%;
    font-size: 1.3rem;
}

.footer-info h4 {
    margin-bottom: 20%;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.email,
.telephone {
    margin-left: 1rem;
}

.envelope-icon,
.phone-icon {
    font-size: 2rem;
}

.fab {
    font-size: 3rem;
    margin-right: 1rem;
    cursor: pointer;
}

.fab:hover {
    color: lightskyblue;
}

.copyright {
    color: whitesmoke;
    font-size: 1rem;
    text-align: center;
}

/* MEDIA QUERY */

@media screen and (max-width: 1300px) {
    .nav_logo-desktop {
        display: none;
    }

    .nav_logo-mobile {
        margin-top: 1%;
        display: block;
    }

    #header_logo {
        width: 7rem;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .icon-box li {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }

    .search form {
        display: none;
    }

    #home-icon,
    #games-icon,
    #about-icon,
    #search-icon,
    #cart-icon,
    #profile-icon {
        margin: 0.5rem;
        width: 1.5rem;
    }

    .checkout-container {
        margin-top: 20rem;
        width: 50rem;
    }

    .details-container {
        width: 25rem;
    }

    .order-row {
        height: 10rem;
    }

    .summary-container {
        width: 15rem;
    }

    .proceed-btn {
        min-width: 10rem;
        min-height: 6rem;
        font-size: 1rem;
    }

    .order-title p {
        font-size: 0.75rem;
    }
}
