/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(rgb(36, 170, 235), rgb(21, 91, 212));
    font-family: "Poppins", sans-serif;
}

li,
a {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    color: whitesmoke;
}

span {
    font-style: normal;
}

h1 {
    color: whitesmoke;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    color: whitesmoke;
}

h3 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    color: whitesmoke;
}

h4 {
    font-size: 1rem;
}

h5 {
    color: whitesmoke;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
}

hr {
    max-width: 90%;
    margin-bottom: 5rem;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
}

/* HEADER SECTION */

header {
    top: 0px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(30, 30, 30));
    position: fixed;
    z-index: 98;
}

.nav-links1,
.nav-links2 {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-links1 {
    width: 50rem;
}

.nav-links2 {
    width: 35rem;
}

nav a:hover {
    color: rgb(28, 163, 247);
}

.nav_logo-desktop {
    margin: 1% 8% 1% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_logo-mobile {
    text-align: center;
    display: none;
}

#header_logo {
    width: 12rem;
}

.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-icon,
#games-icon,
#contact-icon,
#search-icon,
#cart-icon,
#profile-icon {
    margin: 2.5rem;
    width: 2.5rem;
    transition: 0.1s ease-in-out;
}

#home-icon:hover,
#games-icon:hover,
#contact-icon:hover,
#search-icon:hover,
#cart-icon:hover,
#profile-icon:hover {
    transform: scale(1.5);
}

/* SEARCH BAR */

.search form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search input[type="text"] {
    padding: 0.4rem 0.4rem;
}

#search {
    width: 20rem;
    height: 2.6rem;
}

.fa-search {
    color: #1b203d;
    background: whitesmoke;
    border: 1px solid whitesmoke;
}

.fa-search:hover {
    color: rgb(28, 163, 247);
}

.search-icon {
    font-size: 2rem;
    cursor: pointer;
}

/* HOME PAGE SECTION */

.home-page {
    min-height: 100vh;
    background-image: url(/images/homepage-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container {
    margin-top: 15rem;
    background-color: rgba(0, 0, 0, 0.7);
    height: 60rem;
    width: 60rem;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home-container img {
    width: 40rem;
}

.home-container h1 {
    margin-top: 5%;
}

.button-container {
    width: 50rem;
    height: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 5rem;
    border-radius: 50px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: whitesmoke;
    cursor: pointer;
    transition: ease-in 1s;
}

.signup {
    background: rgb(155, 14, 148);
}

.login {
    background: rgb(11, 120, 128);
}

.login:hover {
    background-image: linear-gradient(rgb(41, 207, 219), rgb(9, 153, 163));
}

.signup:hover {
    background-image: linear-gradient(rgb(233, 77, 225), rgb(194, 42, 186));
}

/* HIGHLIGHTED GAMES SECTION */

.highlighted_games-section {
    margin-top: 5%;
    min-height: 48.7vh;
}

.highlighted {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.highlighted-games {
    width: 90%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background: #092843;
}

.highlighted-games img {
    width: 100%;
    height: 40rem;
    object-fit: cover;
}

/* STYLING OF THE OVERLAY CONTAINER */

.overlay {
    min-height: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.overlay-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 8rem;
    width: 20rem;
}

.overlay-text h4 {
    font-size: 2.5rem;
    color: whitesmoke;
    font-weight: 600;
}

.overlay-text p {
    font-size: 1rem;
    color: whitesmoke;
}

.overlay-price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 8rem;
    width: 20rem;
}

.price-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.previous-price {
    font-size: 1.5rem;
    color: whitesmoke;
    text-decoration: line-through;
}

.current-price {
    font-size: 2.5rem;
    color: rgb(53, 221, 53);
    font-weight: 600;
}

.discount {
    margin-left: 5%;
    background-color: rgb(28, 163, 247);
    height: 6rem;
    width: 6rem;
    padding: 3rem;
    border-radius: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount p {
    font-size: 2rem;
    color: whitesmoke;
}

.overlay_call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 8rem;
}

.overlay_cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background: rgb(8, 168, 80);
    color: whitesmoke;
    cursor: pointer;
}

.overlay_cart-btn:hover {
    background-image: linear-gradient(rgb(21, 212, 46), rgb(41, 194, 110));
}

#overlay_cart-icon {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    color: whitesmoke;
}

/* GAMES SECTION */

.games-section {
    min-height: 100vh;
}

.games-text {
    margin: 5% 0 1% 5%;
}

.games-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: auto;
    width: 180rem;
    flex-wrap: wrap;
}

.games-container img {
    width: 40rem;
    height: 22rem;
}

.rec-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40rem;
    height: 30rem;
    margin: 2%;
    background: #092843;
}

/* GAMES | HORIZONTAL FLEX-BOX CONTAINER */

/* .horizontal_flex-container {
    margin: 1.5rem auto;
    height: 35rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.horizontal_rec-box1,
.horizontal_rec-box2,
.horizontal_rec-box3,
.horizontal_rec-box4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.horizontal_rec-box1 img,
.horizontal_rec-box2 img,
.horizontal_rec-box3 img,
.horizontal_rec-box4 img {
    object-fit: cover;
    width: 100%;
    height: 25rem;
} */

/* BESTSELLER / TOP RANKED GAMES SECTION */

.top_ranked-section {
    min-height: 70vh;
    margin: 5% 0 10% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.best_top-container {
    margin: auto;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.best-container {
    margin: 2%;
    width: 50rem;
}

.top-container {
    margin: 2%;
    width: 50rem;
}

.ranked-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5% 0%;
}

.row-container {
    width: 100%;
    height: 6rem;
    display: flex;
    margin-bottom: 0.5rem;
    background: white;
}

.row_ranking-box {
    height: 100%;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranking-blue {
    background-image: linear-gradient(rgb(21, 198, 212), rgb(11, 99, 106));
}

.ranking-purple {
    background-image: linear-gradient(rgb(233, 2, 222), rgb(117, 1, 111));
}

.row_ranking-box p {
    font-size: 1.5rem;
    color: whitesmoke;
}

.row_image-box {
    width: 15rem;
    height: 100%;
}

.row_image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row_info-box {
    background: #092843;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.row_game-title {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: whitesmoke;
    margin-left: 1rem;
}

.row_game-title h5 {
    font-size: 1rem;
}

.row_game-title p {
    font-size: 1rem;
}

.row_price-text {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.row_prev-price {
    color: whitesmoke;
    font-size: 1rem;
    text-decoration: line-through;
}

.row_current-price {
    color: rgb(29, 219, 29);
    font-size: 1.5rem;
    font-weight: 600;
}

.row-discount {
    margin-right: 2rem;
    padding: 1rem;
    background-color: rgb(28, 163, 247);
    height: 4rem;
    width: 4rem;
    border-radius: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
}

/* FOOTER */

footer {
    height: auto;
    background-image: linear-gradient(rgb(30, 30, 30), rgb(0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container {
    width: 100%;
    height: 100%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-info {
    text-align: center;
    margin: 5%;
    font-size: 1.3rem;
}

.footer-text {
    font-size: 2rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.email,
.telephone {
    margin-left: 1rem;
}

.envelope-icon,
.phone-icon {
    font-size: 2rem;
}

.fab {
    font-size: 3rem;
    margin-right: 1rem;
    cursor: pointer;
}

.fab:hover {
    color: lightskyblue;
}

.copyright {
    color: whitesmoke;
    font-size: 1rem;
    text-align: center;
}

/* -------------- GLOBAL STYLING CLASSES -------------- */

/* ERROR HANDLING */

.error {
    font-size: 2rem;
    color: rgb(255, 0, 0);
    font-weight: 600;
}

/* NAVIGATION BUTTONS FOR IMAGES (LEFT / RIGHT) */

.game-nav {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    position: absolute;
}

.previousgame,
.nextgame {
    width: 5rem;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    font-weight: 300;
    color: whitesmoke;
    cursor: pointer;
}

.nextgame {
    right: 0;
}

.previousgame:hover,
.nextgame:hover {
    color: rgb(28, 163, 247);
}

/* NAVIGATION DOTS FOR IMAGES */

.nav-dots {
    margin-top: 3rem;
    height: 5rem;
    display: flex;
    justify-content: center;
}

.nav-circle {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    margin: 0 1.5rem;
    background: lightgray;
}

.circle1 {
    background: lightgreen;
}

/* STYLING OF THE SMALL OVERLAY CONTAINERS IN THE MAIN AND HORIZONTAL GAMING CONTENT  */

.small-overlay {
    height: 8rem;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.small-text {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 15rem;
}

.small-text a {
    font-size: 1.2rem;
    font-weight: 400;
    color: whitesmoke;
}

.small-text p {
    font-size: 1rem;
    color: whitesmoke;
}

.small-price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
    flex-wrap: wrap;
}

.small-discount {
    margin-left: 1rem;
    padding: 1rem;
    background-color: rgb(28, 163, 247);
    height: 4rem;
    width: 4rem;
    border-radius: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-discount p {
    font-size: 1.2rem;
    color: whitesmoke;
}

.small_price-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small_prev-price {
    font-size: 1rem;
    color: whitesmoke;
    text-decoration: line-through;
}

.small_current-price {
    font-size: 1.5rem;
    color: rgb(53, 221, 53);
    font-weight: 600;
}

.small_call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
}

.small_cart-btn {
    width: 100%;
    height: 4rem;
    padding: 1.5rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    background: rgb(8, 168, 80);
    color: whitesmoke;
    cursor: pointer;
}

.small_cart-btn:hover {
    background-image: linear-gradient(rgb(21, 212, 46), rgb(41, 194, 110));
}

#small_cart-icon {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
    color: whitesmoke;
}

/* MEDIA QUERIES */

/* HEADER RESPONSIVE MODE */

@media screen and (max-width: 1300px) {
    .nav_logo-desktop {
        display: none;
    }

    .icon-box li {
        display: none;
    }

    #home-icon,
    #games-icon,
    #contact-icon,
    #search-icon,
    #cart-icon,
    #profile-icon {
        display: none;
    }

    .nav_logo-mobile {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .search {
        display: none;
    }

    #search {
        display: none;
    }

    #header_logo {
        margin-top: 1rem;
    }

    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* HOME PAGE RESPONSIVE MODE */

@media screen and (max-width: 700px) {
    .home-page {
        margin-top: 7rem;
        background-size: 250%;
        background-position: top;
        min-height: 100vh;
    }

    .home-container {
        margin-top: 0;
        margin-bottom: 12rem;
        width: 35rem;
        height: 35rem;
    }

    .home-container img {
        margin-top: 5rem;
        width: 18rem;
    }

    .home-container h1 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        margin-top: 14%;
    }

    .button-container {
        margin-top: 5rem;
        margin-bottom: 12rem;
        width: 30rem;
        height: 20rem;
        align-items: flex-start;
    }

    .btn {
        margin-top: 0;
        width: 14rem;
        height: 3.5rem;
        font-size: 1rem;
    }
}

/* HIGHLIGHTED SECTION RESPONSIVE MODE */

@media screen and (max-width: 1300px) {
    .highlighted-games {
        background-size: cover;
        background-position: right;
        height: 50rem;
    }
}

@media screen and (max-width: 650px) {
    .highlighted-games {
        height: 40rem;
        background-size: 100%;
        width: 100%;
    }

    .highlighted-games img {
        height: 30rem;
    }

    .overlay {
        min-height: 10rem;
    }

    .overlay-text {
        margin: 0 5%;
        height: 6rem;
        width: 15rem;
    }

    .overlay-text h4 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .overlay-price {
        height: 6rem;
        width: 13rem;
    }

    .previous-price {
        font-size: 1rem;
    }

    .current-price {
        font-size: 1.3rem;
    }

    .discount {
        height: 4rem;
        width: 4rem;
        padding: 0;
    }

    .discount p {
        font-size: 1.2rem;
    }

    .overlay_call-to-action {
        height: 6rem;
    }

    .overlay_cart-btn {
        font-size: 1rem;
        padding: 1rem 2rem;
    }

    #overlay_cart-icon {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }
}

/* GAMES | HORIZONTAL FLEX-BOX RESPONSIVE MODE

@media screen and (max-width: 1795px) {
    .horizontal_rec-box1 {
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .horizontal_rec-box2 {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .horizontal_rec-box3 {
        display: none;
    }
} */

/* HIGHLIGHTED GAMES - RESPONSIVE MODE */

@media screen and (max-width: 650px) {
    /* .horizontal_flex-container {
        width: 100%;
    } */

    .game-nav {
        width: 100%;
    }
}

/* GAMES CONTAINER RESPONSIVE MODE */

@media screen and (max-width: 1260px) {
    .games-container {
        width: auto;
    }
}

/* GAMES RESPONSIVE MODE */

@media screen and (max-width: 810px) {
    .rec-box1 {
        width: 50rem;
        height: 30rem;
    }
}

@media screen and (max-width: 600px) {
    .games-text {
        font-size: 2rem;
    }
}

/* BESTSELLERS / TOP RANKED RESPONSIVE MODE */

@media screen and (max-width: 600px) {
    .ranked-text {
        margin: 5% 26%;
        font-size: 2rem;
    }

    .best_top-container {
        margin: 10% auto;
    }
}

/* FOOTER RESPONSIVE MODE */

@media screen and (max-width: 1400px) {
    .footer-container {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .footer-container {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .footer-info {
        width: 100%;
        padding: 1rem;
        margin: 3.5rem;
    }

    .contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
