* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(rgb(36, 170, 235), rgb(21, 91, 212));
    font-family: "Poppins", sans-serif;
}

li,
a {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    color: whitesmoke;
    text-align: center;
    /*background: red;*/
}

h1 {
    color: whitesmoke;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

h2 {
    color: whitesmoke;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

hr {
    width: 80%;
    margin: auto;
}

/* HEADER */

header {
    top: 0px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(30, 30, 30));
    /*background: rgba(0, 0, 0, 0.9);*/
    position: fixed;
    z-index: 98;
}

.nav-links1,
.nav-links2 {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-links1 {
    width: 50rem;
}

.nav-links2 {
    width: 35rem;
}

nav a:hover {
    color: rgb(28, 163, 247);
}

.nav_logo-desktop {
    margin: 1% 8% 1% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_logo-mobile {
    text-align: center;
    display: none;
}

#header_logo {
    width: 12rem;
}

.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-icon,
#games-icon,
#contact-icon,
#search-icon,
#cart-icon,
#profile-icon {
    margin: 2rem;
    width: 2rem;
}

/* SEARCH BAR */

.search form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search input[type="text"] {
    padding: 0.4rem 0.4rem;
}

#search {
    width: 20rem;
    height: 2.4rem;
}

.fa-search {
    color: #1b203d;
    background: whitesmoke;
    border: 1px solid whitesmoke;
}

.search-icon {
    font-size: 2rem;
}

/* SUCCESS PAGE SECTION */

.success-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-text {
    width: 70rem;
    margin-top: 15%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 4rem;
    color: rgb(219, 211, 211);
}

.success-text p {
    min-width: 30rem;
    font-size: 3rem;
    color: whitesmoke;
    margin-left: 3%;
}

.check-circle {
    font-size: 6rem;
    color: rgb(32, 235, 59);
}

.success-container {
    margin-top: 5%;
    height: 60rem;
    width: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success {
    height: 60rem;
    width: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    background: #1a2745;
}

.order-info {
    min-width: 100%;
    min-height: 5rem;
    display: flex;
    align-items: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-image: linear-gradient(rgb(22, 97, 214), rgb(11, 39, 107));
}

.order-info h1 {
    margin: auto;
}
.order-box1,
.order-box2 {
    margin-top: 1%;
    min-height: 10rem;
    width: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    background: #1a2745;
}

.order-box1 {
    margin-top: 5%;
}

.order-box2 {
    margin-bottom: 5%;
}

.order-row {
    width: 90%;
    margin-top: 4rem;
    margin-left: 3rem;
    border-radius: 2rem;
    height: 15rem;
    display: flex;
    flex-direction: row;
    background: #1a3983;
}

.order-game {
    width: 20rem;
    height: 100%;
}

.order-game img {
    width: 15rem;
    height: 100%;
    object-fit: cover;
}

.order-title {
    min-height: 100%;
    width: 100%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-title p {
    margin-top: 5%;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 500;
}

.download-btn {
    margin: 3% 0 7% 0;
    background: rgb(11, 120, 128);
    width: 90%;
    height: 5rem;
    border-radius: 5rem;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: whitesmoke;
    cursor: pointer;
}

.download-btn:hover {
    background-image: linear-gradient(rgb(42, 227, 240), rgb(29, 172, 182));
}

/* FOOTER */

footer {
    height: auto;
    background-image: linear-gradient(rgb(30, 30, 30), rgb(0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container {
    width: 100%;
    height: 100%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-info {
    text-align: center;
    margin: 5%;
    font-size: 1.3rem;
}

.footer-info h4 {
    margin-bottom: 20%;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.email,
.telephone {
    margin-left: 1rem;
}

.envelope-icon,
.phone-icon {
    font-size: 2rem;
}

.fab {
    font-size: 3rem;
    margin-right: 1rem;
    cursor: pointer;
}

.fab:hover {
    color: lightskyblue;
}

.copyright {
    color: whitesmoke;
    font-size: 1rem;
    text-align: center;
}

/* MEDIA QUERY */

@media screen and (max-width: 1300px) {
    .nav_logo-desktop {
        display: none;
    }

    .nav_logo-mobile {
        margin-top: 1%;
        display: block;
    }

    #header_logo {
        width: 7rem;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .icon-box li {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }

    .search form {
        display: none;
    }

    #home-icon,
    #games-icon,
    #about-icon,
    #search-icon,
    #cart-icon,
    #profile-icon {
        margin: 0.5rem;
        width: 1.5rem;
    }

    .success-text {
        margin-top: 40%;
    }

    .success-container {
        margin-top: 5%;
        height: 60rem;
        width: 40rem;
    }
}
